<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Welcome to H4R, <%= @user.fname %></h4>
    <p>
      You have successfully signed up to H4R,
      your username is: <%= @user.login %>. Login to our app will automatically activate your account.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html> 